/* Imports */

@import './normalize';
@import './variables';
@import './mixins';

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media only screen and (max-width: 992px) {
        max-width: 960px;
    }

    @media only screen and (max-width: 768px) {
        max-width: 720px;
    }

    @media only screen and (max-width: 576px) {
        max-width: 540px;
    }
}